body{
  margin-top: 15px;
  background-color:white;
}
.Editorial {
  background-color:  lightblue;

}
.Website {
  background-color:palevioletred;

}
.OfGuals {
  background-color: plum;
}
.Sales{
  background-color: lightgreen; 
}
.Mocolo{
  background-color: orange; 
}
.Recruitting{
  background-color: lightseagreen; 
}
.Tomorrow {
 color:  lightblue;

}
.Today {
  color:green;

}
.Monday {
 color: black;
}
