body{
  margin-top: 15px;
}
.Editorial {
  background-color:  green;

}
.Webinar {
  background-color:gray;

}
.OfGuals {
  background-color: red;
}
.Siber{
  background-color: hotpink;
}

.Tomorrow {
 color:  lightblue;

}
.Today {
  color:green;

}
.Monday {
 color: black;
}
